<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Silla Vacía</title>
    <style>
        @font-face {
            font-family: 'Martin';
            src: url('https://dsktch-la-silla-vacia.s3.amazonaws.com/elecciones-2023/fonts/Martin-Regular.ttf');

        }

        @font-face {
            font-family: 'Manrope';
            src: url('https://dsktch-la-silla-vacia.s3.amazonaws.com/elecciones-2023/fonts/Manrope-Regular.ttf');
        }

        @font-face {
            font-family: 'Manrope';
            src: url('https://dsktch-la-silla-vacia.s3.amazonaws.com/elecciones-2023/fonts/Manrope-Bold.ttf');
            font-weight: 700
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
            margin: 0;
            padding: 0;
        }

        html,
        body {
            box-sizing: border-box;
            color: #3b3d3b;
            font-family: Manrope, serif;
            width: 608px;
        }

        .lead-text {
            font-size: 20px;
        }

        .candidate-card-wrapper {
            background-color: #fafafa;
            position: relative;
        }

        .candidate-card-header {
            align-items: flex-start;
            color: #000000;
            display: flex;
            padding: 1.25rem 1.5rem;
        }

        .candidate-card-header>*~* {
            margin-left: 1rem;
        }

        .candidate-card-header-image {
            flex-shrink: 0;
            font-size: 28px;
            text-align: center;
            text-transform: uppercase;
            font-family: Martin;
            color: #000000;
        }

        .ghost {
            font-size: 28px;
            opacity: 0;
        }

        .candidate-card-header-image img {
            max-width: 100%;
            height: auto;
            width: 112px;
        }

        .candidate-card-header-info {
            font-size: 14px;
        }

        .candidate-card-fullname {
            font-size: 28px;
        }

        .candidate-card-profile {
            background-color: #eeeeee;
            font-size: 20px;
            padding: 1rem 1.5rem;
        }

        .candidate-card-data {
            padding: 1rem 1.5rem;
            font-size: 20px;
        }

        .candidate-card-data>*~* {
            margin-top: 1rem;
        }

        .candidate-card-flags {
            align-items: center;
            display: flex;
            flex-shrink: 1;
            font-size: 14px;
            line-height: 1.25;
            list-style-type: none;
            margin-top: 4px;
            max-width: 100%;
            text-transform: uppercase;
        }

        .candidate-card-flags>*~* {
            margin-left: 8px;
        }

        .candidate-card-logo {
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <div class="candidate-card-wrapper">
        <div class="candidate-card-header" style="background-color: {{bgColor}};">
            <div class="candidate-card-header-image">
                {{#if photo}}
                <img src="{{photo}}" alt=""
                    onerror="this.onerror=null;this.src='https://www.lasillavacia.com/media/candidato-nn-h.jpg'">
                {{else}}
                <img src="https://www.lasillavacia.com/media/candidato-nn-h.jpg" alt="">
                {{/if}}
            </div>
            <div class="candidate-card-header-info">
                <div class="ghost">_</div>
                <p class="candidate-card-fullname">{{fullname}}</p>
                <p class="lead-text">{{party.label}}</p>
            </div>
        </div>
        <div class="candidate-card-profile">
            {{imageProfile}}
        </div>
        <div class="candidate-card-data">
            <div>
                <p style="color: #6b6b6b;">Banderas</p>
                <p>{{flags}}</p>
            </div>
            <div>
                <p style="color: #6b6b6b;">Voto en segunda vuelta 2022</p>
                <p>{{secondRoundVote2022}}</p>
            </div>
            <div>
                <p style="color: #6b6b6b;">Posición frente al Gobierno Petro</p>
                <p>{{positionAgainstThePetroGovernment}}</p>
            </div>
            <div>
                <p style="color: #6b6b6b;">Aborto legal hasta los 6 meses del embarazo</p>
                <p>{{legalAbortionUpToSixMonthsOfPregnancy}}</p>
            </div>
            <div>
                <p style="color: #6b6b6b;">Que las Juntas de Acción Comunal ejecuten grandes obras</p>
                <p>{{thatTheJACExecuteLargePublicWorks}}</p>
            </div>
            <div>
                <p style="color: #6b6b6b;">EPS manejen recursos públicos</p>
                <p>{{EPSMustManagePublicResources}}</p>
            </div>
            <div>
                <p style="color: #6b6b6b;">Frenar nueva exploración de petróleo</p>
                <p>{{oilExplorationMustBeStopped}}</p>
            </div>
            <div>
                <p style="color: #6b6b6b;">Subir el impuesto predial</p>
                <p>{{increasePropertyTax}}</p>
            </div>
            <div>
                <p style="color: #6b6b6b;">Se deberían regular los medios de comunicación</p>
                <p>{{theMediaShouldBeRegulated}}</p>
            </div>
            <div>
                <p style="color: #6b6b6b;">Líos o cuestionamientos</p>
                <p>{{hasProblemsOrQuestions}}</p>
            </div>
        </div>
        <div class="candidate-card-logo">
            <img src="https://dsktch-la-silla-vacia.s3.amazonaws.com/elecciones-2022/lsv-logo.svg" alt="La Silla Vacía">
        </div>
    </div>
</body>

</html>